.list-item-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.list-item {
   padding: 0.65rem;
   font-size: 1.25rem;
   color: #fff;
   list-style: none;
}

.list-item-wrap .btn-del {
   padding: 0.7rem;
   font-size: 1rem;
   border: none;
}