@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   width: 100%;
   font-family: Inter, sans-serif;
   background-color: rgba(48, 56, 70, 1);
}

.App {
   width: 30%;
   min-width: 330px;
   padding: 1.5rem;
   margin: 4rem auto;
   box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
   border-radius: 10px;
}

.title {
   text-align: center;
   color: white;
}
